@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Poppins:wght@500&display=swap');


/*** GENERAL styles ***/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Noto Sans JP, sans-serif;
}

h1 {
    position: absolute;
    width: 93px;
    height: 36px;
    left: 320px;
    top: 53px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
}

button {
    font: 400 14px Noto Sans JP, sans-serif;
    cursor: pointer;
    background: none;
    position: absolute;
    width: 88px;
    height: 36px;
    border-radius: 6px;
}

button:hover {
    background: #0039CB;
    box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
}

.title {
    position: absolute;
    width: 60px;
    height: 12px;
    left: 319px;
    top: 117px;
    
    font-family: Ubuntu Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #333333;
}

.icons {
    position: absolute;
    width: 330px;
    height: 12px;
    left: 320px;
    top: 970px;

    font-family: Ubuntu Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;

    color: #828282;
}

.created {
    position: absolute;
    width: 287px;
    height: 17px;
    left: 322px;
    top: 1000px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #A9A9A9;
}

/**** TITLES ****/

.title-outline{
    width: 168px;
    top: 222px;
}

.title-text{
    width: 150px;
    top: 329px;
}

.title-disable-shadow{
    width: 144px;
    top: 432px;
}

.title-disabled{
    width: 114px;
    top: 534px;
}

.title-icon{
    width: 252px;
    top: 639px;
}

.title-size{
    width: 120px;
    top: 744px;
}

.title-size-md{
    width: 120px;
    left: 523px;
    top: 744px;
}

.title-size-lg{
    width: 120px;
    left: 731px;
    top: 744px;    
}

.title-color{
    width: 156px;
    top: 855px;
}

.title-color-primary {
    width: 156px;
    left: 523px;
    top: 855px;
}

.title-color-secondary {
    width: 168px;
    left: 731px;
    top: 855px;
}

.title-color-danger {
    width: 150px;
    left: 971px;
    top: 855px;
}


/*** BUTTONS ***/
.default {
    left: 319px;
    top: 141px;

    background: #E0E0E0;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.default:hover {
    background: #AEAEAE;
}

.outline {
    left: 319px;
    top: 246px;

    color: #3D5AFE;
    border: 1px solid #3D5AFE;
}

.outline:hover {
    background: rgba(41, 98, 255, 0.1);
}

.text {
    left: 319px;
    top: 357px;

    color: #3D5AFE;
    border-radius: 0;
}

.text:hover {  
    background: rgba(41, 98, 255, 0.1);
    border-radius: 6px;
}

.disable-shadow {
    left: 319px;
    top: 453px;

    background: #3D5AFE;
    color: #FFFFFF;
}


.disabled {
    left: 319px;
    top: 558px;

    background: #E0E0E0;
    color: #9E9E9E;
}


.disabled-text {
    left: 319px;
    top: 558px;

    background: none !important;
}

.icon{
    left: 319px;
    top: 663px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    color: #FFFFFF;
}

.icon-2 {
    left: 523px;
}

.icon-3 {
    left: 731px;
}

.icon-4 {
    left: 971px;
}

.icon-5 {
    left: 1179px;
}

.size{
    width: 73px;
    height: 32px;
    left: 319px;
    top: 773px;

    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    color: #FFFFFF;
}

.size-md {
    width: 81px;
    height: 36px;
    left: 523px;
}

.size-lg {
    width: 93px;
    height: 42px;
    left: 731px;
}


.color{
    left: 319px;
    top: 879px;

    background: #E0E0E0;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    color: #3F3F3F;
}

.color:hover{
    background: #AEAEAE;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.color-primary{
    left: 523px;

    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
    color: #FFFFFF;
}

.color-primary:hover {
    background: #0039CB;
    box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
}

.color-secondary {
    width: 104px;
    left: 731px;

    background: #455A64;
    box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
    color: #FFFFFF;
}

.color-secondary:hover {
    background: #1C313A;
    box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
}

.color-danger {
    left: 971px;
    
    background: #D32F2F;
    box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
    color: #FFFFFF;
}

.color-danger:hover {
    left: 971px;
    
    background: #9A0007;
    box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
}